{% extends "base.html" %}
{% block content %}
<div class="container">

<!--  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Write a blog post!</h1>
            </div>
            <form class="user" action="/blog/add" method="post">
              {% csrf-field %}
              <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="title" name="title" placeholder="Title">
              </div>
              <div class="form-group">
                <textarea rows="30" class="form-control" id="content" name="content" placeholder="Content"></textarea>
              </div>
              <input class="btn btn-success btn-icon-split" type="submit" value="Add post" />
              <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
<!--  </div>
</div>-->
{% endblock %}
