{% extends "base.html" %}
{% block content %}
<div class="container">

<!--  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Upload a file to extract words!</h1>
            </div>
            <form class="user" enctype="multipart/form-data" action="/words/fromtext" method="post">
              {% csrf-field %}
              <div class="form-group">
                <label for="myfile">Select a file:</label>              
                <input type="file" id="myfile" name="myfile">
              </div>
              
              <input class="btn btn-success btn-icon-split" type="submit" value="Upload" />
              <hr>
            </form>
          </div>
          {% if words %}
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Books</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 194px;">Word</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 294px;">Word</th>
                  </thead>
                  <tfoot>
                    <tr><th rowspan="1" colspan="1">Word</th><th rowspan="1" colspan="1">Word</th>
                  </tfoot>
                  <tbody>
                    {% for word in words %}
                    <tr role="row" class="odd">
                      <td class="sorting_1">{{word.word}}</td>
                      <td>{{word.id}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                        </table>
                    </div>
                    </div>
              </div>
            </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
